@model IEnumerable<Ban_Hang_Dien_Tu_CNWeb.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Customer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
           Membership
        </th>
        <th>
            Email
        </th>
        <th>
            Date
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.membership)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },new {@class="btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id },new {@class="btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id },new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
