@model IEnumerable<Ban_Hang_Dien_Tu_CNWeb.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
           Category
        </th>
        <th>
            Code
        </th>
        <th>
           Product Name
        </th>
        <th>
           Slug
        </th>
        <th>
            Overview
        </th>
        <th>
            Image
        </th>
        <th>
            Description
        </th>
        <th>
            Detail
        </th>
        <th>
            Price
        </th>
        <th>
            Unit
        </th>
        <th>
            Sale
        </th>
        <th>
            Star
        </th>
        <th>
            Stock
        </th>
        <th>
            Active
        </th>
        <th>
            Create date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overview)
        </td>
        <td>
            <img src="~/Images/@item.image" /> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.star)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },new {@class="btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id },new {@class="btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id },new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
