@model IEnumerable<Ban_Hang_Dien_Tu_CNWeb.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Code
        </th>
        <th>
            Name
        </th>
        <th>
            Slug
        </th>
        <th>
            Description
        </th>
        <th>
           Cteate at
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },new {@class="btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id },new {@class="btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id },new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
